doctype html
html
  head
    title Dance Academy
    block scripts
      
    block style
  body
    
    nav#navbar.top
        ul
            div#logo 
              img(src='/static/logo.png')
              | DA
            li #[a(href='/') Home]
            li #[a(href='/') About Us]
            li #[a(href='/') Sponsers]
            li #[a(href='/contact') Contact Us]
    block content
    footer#footer
        | Copyright &copy; 2019 MydanceAcademy.com | All rights reserved
